body.contact {
  .splash {
    background-image: url(/images/splash/contact-splash.jpg);
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;

  }

  p {
    margin: 0;
    line-height: 20px;
  }

  .contact-section {
    margin-top: 30px;
  }
}
