html, body {
  height: 100%;
}
.container {
  min-height: 100%;
}

.row.main {
  margin-top: 18px;
  /*min-height: 500px;*/

  .span12 {
    width: 920px;
  }

}

.burst-holder {
  text-align: center;
  $burstWidth: 546px;

  .center {
    width: $burstWidth;
    margin: 0 auto;
    position: relative;
  }
  .burst {
    position: absolute;
    z-index: -1000;
    bottom: 0;
    left: 0; // $burstWidth / 2;
    width: $burstWidth;
    height: 157px;
    background-image: url(/images/burst.gif);
  }
}
