---
page: customer_service_model
template: marketing
---
extends ../layouts/marketing.jade
block content
  h2 Array's Customer Service Model
  
  ul.explain
    li
      strong Treat each project as highest priority &mdash;
      | we will care as much about your project as you do
    li
      strong Deliver high quality output &mdash;
      | we will always strive for one step above excellence
    li
      strong Adhere to deadlines &mdash;
      | on time, every time
    li
      strong Communicate clearly across all functional areas &mdash;
      | we will collaborate from project launch to completion
    li
      strong Strive to develop long-term partnerships &mdash;
      | each client is seen as a potential long-time collaborator
    li
      strong Provide personal, dedicated service &mdash;
      | we will know your project intimately and make your goals our own
