@import "shared/colors";

body.home {
  h2 {
    text-align: right;
    max-width: 798px;
    float: right;
    clear: both;
    margin: 40px 0 0;
  }

  .splash {
    height: 431px;
    position: relative;
  }

  .splash.rotation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .splash0 {
    display: block;
    background-image: url(/assets/images/splash/symbols_0.jpg);
  }
  .splash1 {
    background-image: url(/assets/images/splash/symbols_1.jpg);
  }
  .splash2 {
    background-image: url(/assets/images/splash/symbols_2.jpg);
  }

  .burst {
    display: none;
  }

  .splash-staging {
    position: absolute;
    left: -5000px;
    top: 0;
  }
}
