body.services {
  .splash {
    background-image: url(/assets/images/splash/services-splash.jpg);
  }

  .row.partners {
    margin-top: 50px;
    padding-bottom: 200px;
    .partner {
      max-width: 650px;
      margin-left: 120px;
      .logo {
        max-height: 160px;
        max-width: 160px;
        margin: 0 25px 60px 0;
        float: left;
      }

      &.numerus-ltd .logo {
        margin-top: 33px;
      }
    }
  }

}