---
page: services
template: marketing
---
extends ../layouts/marketing.jade
block content
  h2.
    Array Biostatistics LLC is committed to providing individualized,
    dedicated services to all of our customers. We work with pharmaceutical,
    medical device and biotechnology companies, as well as contract research
    organizations (CROs).

  p.intro.
    Array will customize our services to fit your needs. We can act as your primary
    statistical team to expertly design and implement your clinical study, or fill
    in to provide as-needed support to your existing statistical team, and everything in between.

  p.intro.
    Array understands the changing needs and timelines that are faced throughout clinical research.
    Array will adapt with you to become an integral partner to your study team, in a harmonious
    and dynamic environment.

  p.intro.
    Array applies our years of expertise in phase I-IV clinical trials, ISS/ISEs,
    and patient registries to ensure your clinical studies are run with increased efficiency,
    quality, and scientific integrity.

  .row
    .col-sm-6.left
      ul.explain
        li.p Clinical Development Consulting
        li.s Study design strategies
        li.s Protocol development
        li.s Randomization schema
        li.s Sample size and power calculations
        li.s Adaptive trial design

        li.p Regulatory Support
        li.s Regulatory meeting support and representation
        li.s Regulatory submission strategies (ISE/ISS)
        li.s Regulatory briefing package development

        li.p Analysis Plan Preparation
        li.s Statistical analysis plans for phase I–IV clinical trials
        li.s ISS/ISE analysis plans
        li.s Interim analysis plans
        li.s PK analysis plans
        li.s Patient registry analysis plans

        li.p Customized Statistical Programming and Reporting
        li.s Phase I–IV clinical trials
        li.s Database integration
        li.s ISS/ISE
        li.s Interim analysis and safety updates
        li.s Patient registries
        li.s Sample size and power
        li.s Randomization schedules, treatment kit lists, blind break documents
        li.s Ad-hoc requests
        li.s Supportive analyses for publications, manuscripts, scientific presentations, abstracts

    .col-sm-6.right
      ul.explain
        li.p Data Monitoring Committee (DMC) and Scientific Advisory Group Expertise
        li.s Statistical representation as either voting DMC member or as independent external statistician
        li.s Identify and recruit committee members, set up contracts
        li.s Prepare and/or review DMC charter and interim analysis plan
        li.s Coordinate and manage organizational and live meetings
        li.s Attend and/or lead meetings
        li.s Perform statistical analysis (blinded or unblinded)
        li.s QC and prepare DMC packages
        li.s Prepare open and closed session meeting minutes
        li.p Pharmacokinetic Analyses
        li.p CDISC Implementation (Ongoing and Historical Databases)
        li.p ISS/ISE Database Integration
        li.p Support for Manuscripts, Scientific Presentations, and Abstracts
        li.p CRO Management and Oversight

  .row.partners
    .col-sm-12
      .partner.numerus-ltd
        img.logo(src='/assets/images/partners/numerusDsp-logo.png')
        p.
          Looking for epidemiological or European HTA support? Array works in close partnership with Numerus Ltd,
          a UK-based consultancy that focuses on optimising the value of real-world and health economic data.
          Visit them at #[a(href='http://www.numerus-ltd.com/') numerus-ltd.com]

