.contact-section
  %h3 Contact Array:
  %p
    Email:
    %a{ :href => 'mailto:info@arraybiostat.com'} info@arraybiostat.com
  %p
    Telephone: 1.847.868.2947

.contact-section
  %h3 Mail:
  %p Array Biostatistics LLC
  %p PO Box 16391
  %p Wilmington NC 28408-6391
