.contact-section
  %h3 Contact Array:
  %p
    Email:
    %a{ :href => 'mailto:info@arraybiostat.com'} info@arraybiostat.com
  %p
    Telephone: 1.847.868.2947

.contact-section
  %h3 Mail:
  %p Array Biostatistics LLC
  %p PO Box 1129
  %p Walled Lake, MI 48390

.contact-section
  %h3 About:
  %p.supersize
    Array Biostatistics LLC was founded in 2012 by Sandy Ferber.
    She has over 13 years of experience as a biostatistician in the CRO industry.
    Sandy enjoys the full scope of statistical services, from working closely
    with data and programming in SAS, through designing full-scale development
    programs. Sandy received a BS in Cellular and Molecular Biology at the
    University of Michigan and a Master of Science degree in Epidemiology and
    Biostatistics at Case Western Reserve University. Often referred to by her
    clients as a “personable” statistician, Sandy’s lively and friendly nature
    underlie her commitment to customer service.
