%h2
  %span.bright Array Biostatistics LLC
  offers customized statistical support to the pharmaceutical, medical device, and biotechnology industry.
  We have highly experienced biostatisticians and SAS programmers with a track record of successful drug
  and device development in phase I-IV clinical trials, patient registries, and ISE/ISS submissions.

.splash-staging
  .splash.rotation.splash0
  .splash.rotation.splash1
  .splash.rotation.splash2
