%h2 Array's Project Leadership Strategy

%ul.explain
  %li.p Effective Team Communication
  %li.s Regular and thorough internal and joint team meetings
  %li.s Status updates, data review meetings, and efficient use of face-to-face meetings
  %li.s Team-wide use of centralized, consolidated status trackers and issue/resolution trackers
  %li.s Prepare a project plan with team contacts, communication lines, overall timelines

  %li.p Develop Realistic Timelines
  %li.s Develop comprehensive and detailed timelines for project activities
  %li.s Assign ownership and link dependencies to all tasks, large and small
  %li.s Monitor timelines and progress of each pending task, large and small

  %li.p Anticipate Risk, Prevent Delays, Avoid Extra Costs
  %li.s Use timelines and issue trackers to identify at-risk milestones early, while there is still time to remedy
  %li.s Involve all key reviewers at early draft stages of study to avoid re-work and delays
  %li.s Establish a clear path to final sign-offs of study documents and statistical results

  %li.p Proper Resource Management
  %li.s Apply the art and a science of resourcing in a cost-effective and efficient manner
  %li.s Establish a streamlined, dedicated team to achieve efficiency and consistency, just large enough to meet established goals and deadlines with a small buffer
  %li.s Have a back-up resourcing team available to quickly respond to unanticipated extra work and/or aggressive timelines
  