%h2
  Array's team members are selected after careful consideration of their individual expertise.
  Their collective embracement of Array's
  %a{ :href => '/customer_service_model' } Customer Service Model
  supports our culture of
  excellence where measures of success are clearly defined. Our proven
  %a{ :href => '/project_leadership_strategy' } Project Leadership Strategy
  has turned clients into long-time collaborators that consistently rely on Array for their statistical needs.

%h2
  Array is a US company based in the Chicago area, but our work reaches far beyond its borders.
  Our team members have experience in both the US and European regulatory environment, allowing
  for seamless collaborations with companies spanning many time zones.
