@import "shared/colors";

.header {
  margin-top: 15px;
  position: relative;
  height: 44px;

  ul {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    line-height: 1em;
  }

  li {
    float: right;
    line-height: 1em;
    margin: 0 12px 0 0;

    .current {
      color: $bright;
    }
    a {
      color: $solid;
      &:hover {
        color: $bright;
      }
    }

    .bracket {
      position: relative;
      bottom: -1px;
    }
  }
}

