body ul.explain {
  font-size: 16px;
  list-style-position: outside;
  margin-left: 16px;

  li {
    font-size: 16px;
    line-height: 22px;
    list-style-image: url(/images/bullet-primary.gif);
    margin-bottom: 8px;

    &.p {
      font-weight: bold;
    }
    &.s {
      list-style-image: url(/images/bullet-secondary.gif);
      margin-left: 15px;
    }

  }

 li + li.p {
   margin-top: 20px;
 }
}

body ul.explain.big {
  li {
    font-size: 20px;
    line-height: 26px;
  }
}