@import "shared/colors";

.splash {
  margin: 10px auto 20px;
  width: 918px;
  height: 180px;
  border-width: 5px;
  border-color: $accent;
  border-bottom-style: solid;
  border-top-style: solid;
  $boxShadow: -6px 3px 15px #999; box-shadow: $boxShadow; -webkit-box-shadow: $boxShadow; -moz-box-shadow: $boxShadow;
}
